<!-- Footer Begin Code -->
<footer class="footer border-top bg-transparent">
    <div class="text-center">
        <p>Please follow us on social media!</p>
        <div>
            <!-- Social media follow links -->
            <a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
        </div>
    </div>
</footer>
<!-- Footer End Code -->