{% extends 'base.html' %}
{% load static %}

{% block content %}
{% for category in object_list %}
<div class="col-md-4">
    <div class="card mt-4 border-0">
        <div class="d-sm-flex flex-md-column g-0">
            <div class="col-md-12 col-sm-6">
                <img src="{{category.image.url}}"
                     class="card-img-top" alt="Restaurant">
            </div>

            <div class="col-md-12 col-sm-6">
                <div class="card-body text-center">
                    <h5 class="card-title">{{category.name}}</h5>
                    <p class="card-text">{{ category.body | truncatechars:250 }}</p>
                    <a href="{% url 'posts:category_detail' category.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}