{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 text-center">
        <a href="/"
           class="d-flex align-items-center justify-content-center m-3 mb-lg-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">My Published Posts</span>
        </a>
    </div>
</div>

<div class="row justify-content-start align-items-center">
    {% if object_list.count %}
    {% for post in object_list %}

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <img
                        src="{{ post.image.url }}"
                        alt="Cart Icon" class="img-fluid" style="min-height: 250px;">
            </div>
            <div class="card-body">
                <!-- Cart Content -->
                <h5 class="card-title"><a href="{% url 'posts:post_detail' post.id %}">{{post.title}}</a></h5>
                <p class="card-text">{{post.body}}</p>
            </div>

            <div class="card-footer d-flex justify-content-between align-items-center">
                {{post.created_on | date:"M d, Y"}} - Likes {{post.like.count}} - Comments
                {{post.post_comments.count}}
                <!-- Edit Button -->
                <a href="{% url 'posts:post_edit' post.id %}" class="btn btn-primary">Edit</a>
                <!-- Delete Button -->
                <a href="{% url 'posts:post_delete' post.id %}" type="button" class="btn btn-danger"
                   data-bs-toggle="modal"
                   data-bs-target="#confirmDeleteModal">Delete</a>
            </div>
        </div>

    </div>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>


                <div class="modal-body">
                    <form method="POST" style="margin-top: 1.3em;" action="{% url 'posts:post_delete' post.id %}">
                        {{ form }}
                        {% csrf_token %}
                        <strong>Are you sure about deleting the post:<br>
                            "{{ post.body | truncatechars:250 }}"
                            <br>This action cannot be undone!</strong>
                        <br>
                        <a href="{% url 'posts:manage_posts' request.user.id %}"
                           class="btn btn-outline-secondary btn-sm">Cancel</a>
                        <button type="submit" class="btn btn-danger btn-sm mt-3 mb-3">Delete Post</button>
                    </form>
                </div>


            </div>
        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-center align-items-center mt-2 mb-2">
        <a href="{% url 'posts:post_create' %}" class="btn btn-primary" style="width: 200px;">
            More publish post
        </a>
    </div>
    {% else %}
    <div class="col-md-4">
        <p>You haven't published any posts yet.<a href="{% url 'posts:post_create' %}"> Click</a> to publish one
            immediately
        </p>
    </div>
    {% endif %}
    {% endblock %}

    <div class="container">
        <div class="row">
            <div class="card-text col-md-8 mt-3 offset-md-2">
                <h3>Delete Post</h3>
                <form method="POST" style="margin-top: 1.3em;">
                    {{ form }}
                    {% csrf_token %}
                    <strong>Are you sure about deleting the post:<br>
                        "{{ post.body | truncatechars:250 }}"
                        <br>This action cannot be undone!</strong>
                    <br>
                    <a href="{% url 'posts:manage_posts' request.user.id %}" class="btn btn-outline-secondary btn-sm">Cancel</a>
                    <button type="submit" class="btn btn-danger btn-sm mt-3 mb-3">Delete Post</button>
                </form>

            </div>
        </div>
    </div>
</div>
