{% extends 'base.html' %}

{% block content %}
<!--  Messages Start -->
{% if messages %} {% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %} {% endif %}
<!--  Messages End -->
<div class="row justify-content-center align-items-center" style="min-height: calc(100vh- 200px)">
    <div class="col-md-6">
        <div class="my-page-card">
            <p class="card-header text-center">Hi {{request.user}}. We are happy to see you join our Lunds'
                Community!</p>
            <div class="card-body">
                <div class="flex d-flex justify-content-center m-3">
                    <a href="{% url 'posts:post_create' %}" class="btn btn-primary btn-block w-100">
                        Publish a Post
                    </a>
                </div>
                <div class="flex d-flex justify-content-center m-3">
                    <a href="{% url 'posts:manage_posts' request.user.id %}" class="btn btn-primary btn-block w-100">
                        Manage my Post</a>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}